*{
     text-decoration: none;
     list-style: none;
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #08001b; 
    min-height: 100vh;
}
.container{
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    span{
        opacity: 0.5;
    
    }
}

span:nth-child(1)
    {
       position: absolute;
       background: linear-gradient(to right,transparent,#1779ff) ;
       width: 100%;
       top: 0;
       left: 0;
       height: 3px; 
       animation: animate 2s linear infinite;
    }

@keyframes animate {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

// -------------------------
span:nth-child(2)
    {
       position: absolute;
       background: linear-gradient(to bottom,transparent,#1779ff) ;
       width: 100%;
       top: 0;
       right: 0;
       height: 100%;
       width: 3px; 
       animation: animate2 2s linear infinite;
    }

@keyframes animate2 {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}
// --------------
span:nth-child(3)
    {
       position: absolute;
       background: linear-gradient(to left,transparent,#1779ff) ;
       width: 100%;
       bottom: 0;
       right: 0;
       height: 3px;
       width: 100%; 
       animation: animate3 2s linear infinite;
    }

@keyframes animate3 {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
// ---------------------
span:nth-child(4)
    {
       position: absolute;
       background: linear-gradient(to top,transparent,#1779ff) ;
       width: 100%;
       top: 0;
       left: 0;
       height: 100%;
       width: 3px; 
       animation: animate4 2s linear infinite;
    }

@keyframes animate4 {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}
.card{
    width: 300px;
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0c002b ;
    margin: 30px;
    overflow: hidden;
&::before{
    content: "";
    position: absolute;
    top: 2px;
    bottom: 2px;
   left: 2px;
    width: 50%;
    background-color: rgba(255,255,255,0.1);
}
.content{
    text-align: center;
    padding: 30px ;

    h2{
        position: absolute;
        right: 30px;
        font-size: 4rem ;
        color: #1779ff;
        z-index: 1;
        opacity: 0.1;
        transition: 0.5s ease;
      &:hover{
        transform: translateY(-70px);
        opacity: 1;
      }
    }
}
h3{
    position: relative;
    font-size: 1.5rem;
    color: antiquewhite;
    font-weight: bold;
    text-transform: capitalize;
    z-index: 2;
    opacity: 0.5;
}
p{
    font-size: 1rem;
    color: antiquewhite;
    font-weight: 300;
    z-index: 2;
    opacity: 0.5;
}
a{
    padding: 8px 15px;
    background-color: antiquewhite;
    color: black;
    margin-top: 15px;
    font-weight: 600;
    text-transform: capitalize;
    text-decoration: none;
    display: inline-block;
    opacity: 0.9;
}
}